# Игнорирование файла
.editorconfig
.travis.yml
COPYRIGHT
LICENSE
README.md
SECURITY.md
*.jp?g
*.png
*.gif
*.svg
*.pdf
*.xls?

# Игнорировать каталог node_modules 
node_modules/

/.github/
/_build/
/assets/
/connectors/

!/core/*
/core/lexicon/*
/core/cache/*

/core/model/*
/core/export/*
/core/import/*
/core/packages/*
/core/xpdo/*

/core/components/*
!/core/components/*
/core/components/ace/*
/core/components/ckeditor/*
/core/components/migx/*
/core/components/Recipes/*



/manager/
/siteadmin/*